body,html{
  background-color: #000000;
  margin: 2px;
  padding: 2px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1{
  font-family: 'Helvetica Neue';
    font-size: 120px;
  color : #FFFFFF
}

p{
  font-family: 'Helvetica  Neue';
  font-size: 50px;
  margin: 2px;
  padding: 2px;
  color : #FFFFFF
}
